/* Global */
:root {
  /* Size */
  --margin-size-large: 15px;
  --margin-size-medium: 8px;
  --margin-size-small: 4px;
  --padding-size-large: 15px;
  --padding-size-medium: 8px;
  --padding-size-small: 4px;

  /* Font Size  */
  --font-xxlarge: 5rem;
  --font-xlarge: 3rem;
  --font-large: 1.8rem;
  --font-medium: 1.25rem;
  --font-small: 0.75rem;

  /* Font Weight */
  --weight-bold: 700;
  --weight--semi-bold: 600;
  --weight--regular: 400;

  /* Color */
  --white-color: white;
  --grey-color: grey;
  --light-grey-color: #f4f4f4;
  --black-color: black;
  --pinkish-white-color: #fff6f6;
  --tomato-color: #ff5757;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal */
* {
  box-sizing: border-box;
}

html,
body,
section,
nav,
div,
article,
h1,
h2,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Typography */

.title {
  font-size: var(--font-xlarge);
}

h1 {
  font-size: var(--font-xxlarge);
}

h2 {
  display: inline-block;
  margin-bottom: 60px;
  border-bottom: 5px solid var(--tomato-color);
}

/* TODO: 만약에 바꿀꺼면 여기다 넣으면됨. */
.background__container {
}

/* Header */

header {
  color: var(--white-color);
}

#name {
  color: var(--tomato-color);
}

header h2 {
  font-size: var(--font-xlarge);
  border: none;
  margin: 10px 0 20px;
}

.header__nav {
  background-color: transparent;
  position: fixed;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-medium);
  height: 10%;
  width: 100%;
  padding: 0 40px;
}

/*TODO: 나중에 글자 폰트 흘림체 찾아서 처리.*/

.nav__menulists {
  display: flex;
  list-style: none;
}

.nav__menulists li {
  margin-right: var(--margin-size-large);
  cursor: pointer;
  opacity: 0.8;
}

.nav__menulists li:hover {
  opacity: 1;
}

.header__main {
  height: 100vh;
  display: flex;
  background-image: url(imgs/headeBackground.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

/* 여기랑 밑은 vw로 할지 rem으로 할지 고민좀 해보자. */

.contactmebtn {
  background: transparent;
  border: 2px solid var(--white-color);
  border-radius: 10px;
  color: var(--white-color);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 40px;
  outline: none;
  padding: var(--padding-size-small);
  transition: all var(--animation-duration) ease-in;
}

.contactmebtn:hover {
  transform: scale(1.2);
}

/* About */

#aboutme {
  text-align: center;
  background-color: #171a1e;
  height: 100vh;
  border: ;
}

.aboutme__background {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  width: 80%;
  height: 100%;
  background-color: var(--pinkish-white-color);
}

.aboutme__container {
  display: flex;
  height: 70%;
}

.aboutme__contents {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.aboutme__contents img {
  position: relative;
  left: -100px;
  height: 400px;
  width: 200px;
  border-radius: 120px;
  margin-right: 40px;
}

.contents__container {
  width: 65%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.skills__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills__item {
  width: 4rem;
  height: 4rem;
  transition: all var(--animation-duration) ease;
}

.skills__item:hover {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.2);
}

#html {
  background: center/ contain no-repeat url(imgs/logo/html.png);
}
#css {
  background: center / contain no-repeat url(imgs/logo/css.png);
}
#Js {
  background: center / contain no-repeat url(imgs/logo/js.png);
}
#react {
  background: center / contain no-repeat url(imgs/logo/react.png);
}
#nodeJs {
  background: center / contain no-repeat url(imgs/logo/nodejs.png);
}
#oracle {
  background: center / contain no-repeat url(imgs/logo/oracle.png);
}
#mongoDB {
  background: center / contain no-repeat url(imgs/logo/mongo.png);
}
#cSharp {
  background: center / contain no-repeat url(imgs/logo/Csharp.png);
}
#github {
  background: center / contain no-repeat url(imgs/logo/github.png);
}

/* Project */

#project {
  min-height: 100vh;
  background-color: var(--white-color);
  max-width: 1400px;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

#project .title {
  margin: 0;
}

.project__categories {
  margin: 35px 0;
}

.category__btn {
  background-color: var(--white-color);
  border: 1px solid darkgray;
  border-radius: 8px;
  margin-right: var(--margin-size-medium);
  width: 120px;
  padding: var(--padding-size-medium) var(--padding-size-large);
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--tomato-color);
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  top: 0;
  opacity: 1;
}

.category__count {
  border: 1px solid var(co);
  background-color: orange;
  border-radius: 50%;
  color: var(--white-color);
  display: inline-block;
  margin-left: var(--margin-size-small);
  width: 15px;
  height: 15px;
  position: relative;
  top: -15px;
  left: 8px;
  opacity: 0;
  transition: all ease-in var(--animation-duration);
}

.projects__projectsWithDescription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_item {
  position: relative;
  margin: 8px;
  background-color: rgb(228, 244, 247);
}

.project__description {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--white-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.project__description h4 {
  border-bottom: 1px solid var(--white-color);
  padding-bottom: var(--padding-size-small);
}

.project__description:hover {
  opacity: 0.7;
}

.project_img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 8px;
  object-fit: cover;
}

/* Contact */

#contactme {
  background-color: #171a1e;
  color: var(--white-color);
  clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
  padding: 140px 0 40px 0;
  text-align: center;
}

#contactme .title {
  margin: 40px 0 10px 0;
}

#contactme h3 {
  font-size: var(--font-large);
}

.contactme__nav {
  font-size: var(--font-xlarge);
  margin-bottom: 20px;
}

.contactme__nav a {
  text-decoration: none;
}

.contactme__nav a:link,
a:visited,
a:active {
  color: var(--white-color);
}

.contactme__nav .fab:hover {
  color: #438dee;
  transform: rotate(20deg) scale(1.2);
  transition: all ease calc(var(--animation-duration) * 1.5);
}
