@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&family=PT+Sans:ital@1&family=Roboto:wght@500&family=Sacramento&display=swap');

/* Global */
:root {
  /* Size */
  --margin-size-large: 15px;
  --margin-size-medium: 8px;
  --margin-size-small: 4px;
  --padding-size-large: 15px;
  --padding-size-medium: 8px;
  --padding-size-small: 4px;

  /* Font Size  */
  --font-xxlarge: 5rem;
  --font-xlarge: 3rem;
  --font-large: 2rem;
  --font-medium: 1.3rem;
  --font-small: 0.9rem;

  /* Font Family */
  --font-primary: 'Archivo', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
  --font-logo: 'Sacramento', cursive;

  /* Font Weight */
  --weight-bold: 700;
  --weight--semi-bold: 600;
  --weight--regular: 400;

  /* Color */
  --white-color: white;
  --grey-color: grey;
  --light-grey-color: #f4f4f4;
  --black-color: black;
  --pinkish-white-color: #fff6f6;
  --tomato-color: #ff5757;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal */
* {
  box-sizing: border-box;
}

html,
body,
section,
nav,
div,
a,
article,
h1,
h2,
h4,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/* Typography */

body {
  font-family: var(--font-secondary);
}

.title {
  font-size: var(--font-xlarge);
}

.primary {
  font-family: var(--font-primary);
}

h1 {
  font-size: var(--font-xxlarge);
}

h2 {
  display: inline-block;
  margin-bottom: 60px;
  border-bottom: 5px solid var(--tomato-color);
}

button {
  font-weight: bold;
  outline: none;
  transition: all var(--animation-duration) ease;
}

button:active {
  transform: translateY(8%);
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: var(--white-color);
}

/* Header */

header {
  color: var(--white-color);
}

#name {
  color: var(--tomato-color);
}

header h2 {
  font-size: var(--font-xlarge);
  border: none;
  margin: 10px 0 20px;
}

.header__nav {
  background-color: transparent;
  position: fixed;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-medium);
  height: 60px;
  width: 100%;
  padding: 0 40px;
  z-index: 1;
}

.header__navMoved {
  background-color: hsl(0, 0%, 0%, 0.5);
  border-bottom: 4px solid rgba(216, 218, 250, 0.5);
  animation: mymove ease calc(var(--animation-duration) * 2);
}

@keyframes mymove {
  0% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}

.header__logo {
  font-family: var(--font-logo);
  font-weight: bold;
}

.nav__menulists {
  display: flex;
  list-style: none;
}

.nav__menulists a {
  margin-right: var(--margin-size-large);
  cursor: pointer;
  opacity: 0.8;
}

.nav__menulists a:hover {
  opacity: 1;
}

.mobile__nav__menu {
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  z-index: 2;
}

.bar {
  width: 35px;
  height: 3px;
  background-color: var(--tomato-color);
  margin: 8px 0;
  transition: var(--animation-duration);
}

.change .menubar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

.change .menubar2 {
  opacity: 0;
}

.change .menubar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.header__main {
  height: 100vh;
  display: flex;
  background-image: url(imgs/headeBackground.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contactmebtn {
  background: transparent;
  border: 2px solid var(--white-color);
  border-radius: 10px;
  color: var(--white-color);
  cursor: pointer;
  font-size: var(--font-large);
  font-weight: bold;
  margin-top: 40px;
  padding: var(--padding-size-small);
}

.contactmebtn:hover {
  transform: scale(1.2);
}

/* About */

#aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--pinkish-white-color);
  padding: 50px 0;
}

#aboutme__image {
  height: 250px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 50px;
}

.contents__container {
  margin: auto;
  width: 65%;
  font-size: var(--font-medium);
}

.contents__container h2 {
  font-size: var(--font-large);
}

.description__container {
  margin-bottom: 100px;
}

.skills__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills__item {
  width: 4rem;
  height: 4rem;
  transition: all var(--animation-duration) ease;
}

.skills__item:hover {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.2);
}

#html {
  background: center/ contain no-repeat url(imgs/logo/html.png);
}
#css {
  background: center / contain no-repeat url(imgs/logo/css.png);
}
#Js {
  background: center / contain no-repeat url(imgs/logo/js.png);
}
#react {
  background: center / contain no-repeat url(imgs/logo/react.png);
}
#nodeJs {
  background: center / contain no-repeat url(imgs/logo/nodejs.png);
}
#oracle {
  background: center / contain no-repeat url(imgs/logo/oracle.png);
}
#mongoDB {
  background: center / contain no-repeat url(imgs/logo/mongo.png);
}
#cSharp {
  background: center / contain no-repeat url(imgs/logo/Csharp.png);
}
#github {
  background: center / contain no-repeat url(imgs/logo/github.png);
}

/* Project */

#project {
  min-height: 100vh;
  background-color: var(--white-color);
  max-width: 1400px;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

#project .title {
  margin: 0;
}

.project__categories {
  margin: 35px 0;
}

.project__btn {
  background-color: var(--white-color);
  border: 1px solid darkgray;
  border-radius: 8px;
  margin-right: var(--margin-size-medium);
  width: 170px;
  padding: var(--padding-size-medium) var(--padding-size-large);
  font-size: var(--font-medium);
}

.project__btn.active,
.project__btn:hover {
  background-color: var(--tomato-color);
}

.project__btn.active .project__count,
.project__btn:hover .project__count {
  top: 0;
  opacity: 1;
}

.project__count {
  color: var(--white-color);
  display: inline-block;
  margin-left: var(--margin-size-small);
  position: relative;
  top: -15px;
  left: 8px;
  opacity: 0;
  transition: all ease-in var(--animation-duration);
}

.projects__projectsWithDescription {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.projects__projectsWithDescription.anim-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(40px);
}

.project__item {
  position: relative;
  margin: 8px;
  background-color: #e4f4f7;
}

.invisible {
  display: none;
}

.project__description {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--white-color);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.project__description h4 {
  border-bottom: 1px solid var(--white-color);
  padding-bottom: var(--padding-size-small);
}

.project__description:hover {
  opacity: 0.7;
}

.project__img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  margin: 8px;
  object-fit: cover;
}

/* Contact */

#contactme {
  background-color: #171a1e;
  color: var(--white-color);
  clip-path: polygon(50% 25%, 100% 0, 100% 100%, 0 100%, 0 0);
  padding: 140px 0 40px 0;
  text-align: center;
}

#contactme .title {
  margin: 40px 0 10px 0;
}

#contactme h3 {
  font-size: var(--font-large);
}

.email {
  font-size: var(--font-medium);
}

.contactme__nav {
  font-size: var(--font-xlarge);
  margin-bottom: 20px;
}

.contactme__nav .fab:hover {
  color: #438dee;
  transform: rotate(20deg) scale(1.2);
  transition: all ease calc(var(--animation-duration) * 1.5);
}

.conntactme__rights {
  font-size: var(--font-small);
  opacity: 0.5;
}

/* media */

@media screen and (max-width: 1024px) {
  :root {
    /* Font Size  */
    --font-xxlarge: 4rem;
    --font-xlarge: 2.3rem;
  }

  .contactmebtn {
    font-size: var(--font-medium);
  }

  /* Aboutme */

  #aboutme__image {
    height: 190px;
    width: 150px;
  }

  .contents__container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  :root {
    /* Font Size  */
    --font-xxlarge: 3rem;
    --font-xlarge: 2rem;
    --font-large: 1.5rem;
    --font-medium: 1.1rem;
  }

  /* About me */
  .skills__item {
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 600px) {
  .header__nav {
    flex-direction: column;
    height: auto;
    justify-content: space-around;
    padding: 20px 0;
    text-align: center;
    background-color: hsl(0, 0%, 0%, 0.5);
    border-bottom: 1px solid white;
    transform: translateY(-100%);
  }

  .header__navMoved {
    animation: none;
  }

  .down {
    transform: translateY(0);
  }

  .nav__menulists {
    flex-direction: column;
    height: 60%;
  }

  .list__item {
    margin: var(--margin-size-medium) 0;
  }

  .list__item a {
    display: inline-block;
    margin: 0;
    transition: all ease var(--animation-duration);
  }

  .list__item a:hover {
    transform: scale(1.2);
  }

  .mobile__nav__menu {
    display: block;
  }

  /* Project */
  .project__btn {
    font-size: var(--font-small);
    width: 120px;
  }
}

@media screen and (max-width: 414px) {
  /* About me */
  .skills__container {
    margin: auto;
    width: 80%;
  }

  #aboutme__image {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  :root {
    /* Font Size  */
    --font-xxlarge: 2.4rem;
    --font-xlarge: 1.5rem;
    --font-large: 1.3rem;
    --font-medium: 1rem;
  }

  /* About me  */
  #aboutme h2 {
    margin: 20px 0 40px 0;
  }

  /* project */
  .project__btn {
    width: 90px;
  }

  .project__btn:nth-child(2) {
    width: 120px;
  }

  .project__img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (max-width: 320px) {
  .project__btn {
    width: 70px;
    padding: 5px 2px;
  }

  .project__btn:nth-child(2) {
    width: 100px;
  }

  .project__count {
    left: 3px;
  }
}
