/* Global */
:root {
  /* Size */
  --margin-size-large: 15px;
  --margin-size-medium: 8px;
  --padding-size-large: 15px;
  --padding-size-medium: 8px;
  --padding-size-small: 4px;

  /* Font Size  */
  --font-xlarge: 3rem;
  --font-large: 1.25rem;
  --font-medium: 0.875rem;
  --font-small: 0.75rem;

  /* Font Weight */
  --weight-bold: 700;
  --weight--semi-bold: 600;
  --weight--regular: 400;

  /* Color */
  --white-color: white;
  --grey-color: grey;
  --light-grey-color: rgb(233, 233, 233, 0.3);
  --black-color: black;
}

/* Universal */
* {
  box-sizing: border-box;
}

html,
body,
section,
nav,
div,
article,
h1,
h2,
p,
img,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Typography */

.title {
  font-size: var(--font-xlarge);
}

/* Header */

header {
  color: var(--white-color);
}

.header__nav {
  background-color: transparent;
  position: fixed;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: var(--font-large);
  height: 10%;
  width: 100%;
  padding: 0 40px;
}

/*TODO: 나중에 글자 폰트 흘림체 찾아서 처리.*/

.nav__menulists {
  display: flex;
  list-style: none;
}

.nav__menulists li {
  margin-right: var(--margin-size-large);
  cursor: pointer;
  opacity: 0.8;
}

.nav__menulists li:hover {
  opacity: 1;
}

.header__main {
  height: 100vh;
  background-image: url(imgs/headeBackground.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 여기랑 밑은 vw로 할지 rem으로 할지 고민좀 해보자. */
.header__introP {
  font-size: 5rem;
}

.contactmebtn {
  background: transparent;
  border: 2px solid var(--white-color);
  border-radius: 10px;
  color: var(--white-color);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 40px;
  outline: none;
  padding: var(--padding-size-small);
  transition: 200ms ease-in;
}

.contactmebtn:hover {
  transform: scale(1.2);
}

/* About */

#aboutme {
  width: 50%;
  margin: auto;
  padding: 30px 0;
}

.aboutme__contents {
  text-align: center;
}

.contents__description {
  display: flex;
  font-size: 1.3rem;
}

.contents__description img {
  height: 300px;
  width: 200px;
  border-radius: 50px;
  margin-right: 80px;
}

.description {
  align-self: center;
}

.contents__icons__container {
  display: flex;
  justify-content: space-around;
  font-size: 70px;
  padding-top: 50px;
}

.icon__label {
  font-size: 1rem;
}

/* Skills */
#skills {
  height: auto;
  background-color: var(--light-grey-color);
  text-align: center;
}

#skills .skills__item {
  display: inline-block;
  margin-right: 30px;
  width: 7rem;
  height: 7rem;
  border-radius: 30px 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}

#html {
  background: center/ contain no-repeat url(imgs/logo/html.png);
}

#css {
  background: center / contain no-repeat url(imgs/logo/css.png);
}

#Js {
  background: center / contain no-repeat url(imgs/logo/js.png);
}
#react {
  background: center / contain no-repeat url(imgs/logo/react.png);
}
#nodeJs {
  background: center / contain no-repeat url(imgs/logo/nodejs.png);
}
#oracle {
  background: center / contain no-repeat url(imgs/logo/oracle.png);
}
#mongoDB {
  background: center / contain no-repeat url(imgs/logo/mongo.png);
}
#cSharp {
  background: center / contain no-repeat url(imgs/logo/Csharp.png);
}
#github {
  background: center / contain no-repeat url(imgs/logo/github.png);
}
#vsCode {
  background: center / contain no-repeat url(imgs/logo/vs.png);
}
